// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  align-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.login_field {
  margin: 5px;
}